/****
	formateo
			****/	
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/***********************************/
/********* screen max 600 **********/
/***********************************/

@media (max-width: 600px) {

	body{
			/*background-color: purple;*/
		}

/****
	cabecera
			****/	
	.cabecera{
		width: 100%;
		height: 60px;
		position: fixed;
		background-color: green;
		box-shadow: 4px 3px 30px 2px #0B3B0B;
		-webkit-box-shadow: 4px 3px 30px 2px #0B3B0B;
		-moz-box-shadow: 4px 3px 30px 2px #0B3B0B;
	}

	.cabecera header{
		display: flex;
		justify-content: space-between;
	}

	.cabecera header li{
		list-style: none;
	}

	.cabecera header img{
		width: 50px;
		height: 50px;
		border-radius: 100%;
		margin: 5px 10px; 
	}

	.cabecera header span{
		font-size: 35px;
		margin-top: 3px;
		padding: 10px ;
		color: white;
	}

	.cabecera header span:hover{
		background: rgba(0,0,0,0.4); 
		border-radius: 100px;
		height: 100%;
		margin-top: 3px;
	}

/****
	menu
		****/

	.cont-menu{
		width: 100px;
		height:90vh;
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		margin-top: 60px;
		background-color: green;
		transition: all 400ms;
	}

	.cont-menu2{
		transform: translateX(-100px);
	}

	.cont-menu li{
		width: 100%;
		height: 80px;
		list-style: none;
		padding: 10px 0px; 
		text-align: center;
		background-color: green;
		transition: all 400ms;
	}

	.cont-menu li:hover:not(#profile){
		background-color: yellow;
		transform: translateY(10px);
	}

	.cont-menu img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}

	.cont-menu span{
		font-size: 35px;
	}

	.cont-menu h4{
		font-size: 16px;
		margin-top: 5px;
	}

	/****
	    contenedor general de las secciones
			   ****/	
	.cont-general{
		background-color: white;
		width: 100%;
		padding: 45px 50px;
	}
}