/****
	formateo
			****/	
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Comfortaa;
}

@font-face{
	font-family: Comfortaa;
	src:url(fuentes/comfortaa/Comfortaa-Regular.ttf);
}


/***********************************/
/************* SALTO 1 *************/
/***********************************/
/********* screen max 639 **********/
/***********************************/

@media (max-width: 639px) {

/****
	cabecera
			****/	
	.cabecera{
		width: 100%;
		height: 60px;
		position: fixed;
		background-color: #EBEBEB;
		box-shadow: 4px 3px 30px 2px #3E3E3E;
		-webkit-box-shadow: 4px 3px 30px 2px #3E3E3E;
		-moz-box-shadow: 4px 3px 30px 2px #3E3E3E;
	}

	.cabecera header{
		display: flex;
		justify-content: space-between;
	}

	.cabecera header li{
		list-style: none;
	}

	.cabecera header img{
		width: 50px;
		height: 50px;
		border-radius: 100%;
		margin: 5px 10px; 
	}

	.cabecera header span{
		color: #3E3E3E;
		font-size: 35px;
		margin-top: 3px;
		padding: 10px 30px;
	}

	.cabecera header span:hover{
		height: 100%;
		color: white;
		margin-top: 3px;
		border-radius: 50px;
		background: rgba(0,0,0,0.4); 
	}

/****
	portada
		 ****/

	.cont-portada {
		width: 100%;
		height: 100%;
		margin-bottom: 60px;
	}

	.cont-portada .descripcion{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: -41px;
		margin-top: -160px;
	}
	
	.cont-portada .descripcion h1{
		padding: 12px 0px 0px 0px;
		width: 100%;
		font-size: 25px;
		color: white;
		text-align: center;
	}

	.cont-portada .descripcion h3{
		width: 100%;
		color: white;
		padding-top: 5px; 
		font-size: 15px;
		text-align: center;
	}

	.cont-portada .descripcion .fab{
		font-size: 30px;
		color: white;
		padding: 10px 5px 0px;
	}

	.cont-portada .descripcion .fab:link{
		color: white;
	}

	.cont-portada .descripcion .fab:visited{
		color: white;
	}

	.cont-portada .descripcion .fa-twitter:hover{
		color: #00ACEE;
	}

	.cont-portada .descripcion .fa-linkedin:hover{
		color: #0E76A8;
	}

	.cont-portada .descripcion .fa-github:hover{
		color: black;
	}

	.cont-portada .descripcion img{
		width: 100px;
		height: 100px;
		border-radius: 100%;
	}

	.cont-portada .img-portada{
		width: 100%;
		height: 240px;
		background-color: rgba(0,0,0,0.8);
		background-image: url(../img/portada.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter:brightness(0.5);
		position: relative;
		top: 60px;
		z-index: -1;
	}

/****
	menu
		****/

	.cont-menu{
		width: 100px;
		height:100vh;
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		margin-top: 60px;
		background-color: #EBEBEB;
		transition: all 400ms;
	}

	.cont-menu2{
		transform: translateX(-100px);
	}

	.cont-menu li{
		width: 100%;
		height: 90px;
		list-style: none;
		padding: 10px 0px; 
		text-align: center;
		background-color: #EBEBEB;
		transition: all 400ms;
	}

	.cont-menu li:not(#profile){
		margin-top: -50px;
	}

	.cont-menu li:hover:not(#profile){
		color: white;
		background-color: #00A1BC;
		transform: translateY(10px);
	}

	.cont-menu img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}

	.cont-menu li span{
		color: #3E3E3E;
		font-size: 35px;
	}

	.cont-menu li h4{
		color: #3E3E3E;
		font-size: 13px;
		margin-top: 5px;
	}

	/****
	    contenedor general de las secciones
			   ****/	
	.cont-general{
		width: 100%;
		line-height: 27px;
		padding: 20px 22px;
		text-align: justify;
		font-size: 18px;
	}

	.cont-general h1{
		font-size: 30px;
		color: #3A3A3A;
	}

	.cont-general hr{
		width: 100%;
		height: 4px;
		margin: 8px auto;
		border: none;
		background-color: #00A1BC;
	}

	.cont-general p{
		margin-top: 20px;
		color: #626262;
	}

	/****
    	sobremi
		      ****/
	.cont-general .sobremi{
		width: 100%;
	}

	/****
    	educacion
		        ****/
	.cont-general .educacion{
		width: 100%;
	}
	
	.cont-general .educacion .logos-u{
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
	}

	.cont-general .educacion .logos-u img{
		width: 140px;
		height: 160px;
	}

	.cont-general .educacion .logos-u figcaption{
		width: 130px;
		color: #3A3A3A;
		font-size: 13px;
		line-height: 18px;
		text-align: center;
		font-weight: 600;
	}

	/****
    	Habilidades
		         ****/
	.cont-general .habilidades{
		width: 100%;
		display: flex;
	}

	.cont-general .habilidades .cont-barras{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
			
	}

	.cont-general .habilidades .cont-barras h2{
		color: #3A3A3A;
		font-size: 23px;
		text-align: center;
	}
	.cont-general .habilidades .cont-barras h3{
		color: #3A3A3A;
		text-align: center;
		padding: 10px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales{
		width: 100%;
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales progress{
		display: block;
		margin: auto;
	}

	.cont-general .habilidades .cont-barras .tecnicas{
		width: 100%;
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras .tecnicas progress{
		display: block;
		margin: auto;
	}

	.cont-general .habilidades .cont-barras progress{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: red;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-bar{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: gray;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-value{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: #00A1BC;
	}

	/****
    	Portafolio
		         ****/
    .cont-general .portafolio{
    	text-align: center;
    	background-color: gray;
    	border-radius: 20px;
    }

    .cont-general .portafolio h2{
    	color: #3A3A3A;
    	background-color: #FFC300;
    	border-radius: 5px;
    	font-size: 18px;
    	margin: 10px auto;
    }

    .cont-general .portafolio h1{
    	color: white;
    	font-size: 20px;
    }

	/****
		Footer
		    ****/
	.footer{
		width: 100%;
		height: 120px;
		display: flex;
		align-items: center;
		background-color: #EBEBEB;
	}

	.footer footer{
		width: 100%;
		height: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}


	.footer footer .fab{
		color: #3E3E3E;
		font-size: 30px;
		padding: 10px 5px 0px;
	}

	.footer footer a{
		color: #3E3E3E;
		text-decoration: none;
	}

	.footer footer a:link{
		color: #3E3E3E;
	}

	.footer footer a:visited{
		color: #3E3E3E;
	}

	.footer footer a:hover{
		color: #3E3E3E;
		font-size: 40px;
	}

	.footer footer p{
		width: 100%;
		color: #3E3E3E;
		text-align: center;
		font-weight: 700;
	}

	.footer footer p a{
		color: #3E3E3E;
	}	

	.footer footer p a:link{
		color: #3E3E3E;
		text-decoration: none;
	}

	.footer footer p a:visited{
		color: #3E3E3E;
	}

	.footer footer a .fa-twitter:hover{
		color: #00ACEE;
	}

	.footer footer a .fa-linkedin:hover{
		color: #0E76A8;
	}

	.footer footer a .fa-github:hover{
		color: black;
	}

}


/********************************************/
/***************** SALTO 2 ******************/
/********************************************/
/********* screen min 640 max 1023 **********/
/********************************************/

@media screen and (min-width: 640px) and (max-width: 1023px) {

/****
	cabecera
			****/	
	.cabecera{
		width: 100%;
		height: 60px;
		position: fixed;
		background-color: #EBEBEB;
		box-shadow: 4px 3px 30px 2px #3E3E3E;
		-webkit-box-shadow: 4px 3px 30px 2px #3E3E3E;
		-moz-box-shadow: 4px 3px 30px 2px #3E3E3E;
	}

	.cabecera header{
		display: flex;
		justify-content: space-between;
	}

	.cabecera header li{
		list-style: none;
	}

	.cabecera header img{
		width: 50px;
		height: 50px;
		border-radius: 100%;
		margin: 5px 10px; 
	}

	.cabecera header span{
		color: #3E3E3E;
		font-size: 35px;
		margin-top: 3px;
		padding: 10px 30px;
	}

	.cabecera header span:hover{
		height: 100%;
		color: white;
		margin-top: 3px;
		border-radius: 50px;
		background: rgba(0,0,0,0.4); 
	}

/****
	portada
		 ****/

	.cont-portada {
		width: 100%;
		height: 100%;
		margin-bottom: 60px;
	}

	.cont-portada .descripcion{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: -20px;
		margin-top: -200px;
	}
	
	.cont-portada .descripcion h1{
		padding: 12px 0px 0px 0px;
		width: 100%;
		font-size: 35px;
		color: white;
		text-align: center;
	}

	.cont-portada .descripcion h3{
		width: 100%;
		color: white;
		padding-top: 5px; 
		font-size: 20px;
		text-align: center;
	}

	.cont-portada .descripcion .fab{
		font-size: 30px;
		color: white;
		padding: 10px 5px 0px;
	}

	.cont-portada .descripcion .fab:link{
		color: white;
	}

	.cont-portada .descripcion .fab:visited{
		color: white;
	}

	.cont-portada .descripcion .fa-twitter:hover{
		color: #00ACEE;
	}

	.cont-portada .descripcion .fa-linkedin:hover{
		color: #0E76A8;
	}

	.cont-portada .descripcion .fa-github:hover{
		color: black;
	}

	.cont-portada .descripcion img{
		width: 100px;
		height: 100px;
		border-radius: 100%;
	}

	.cont-portada .img-portada{
		width: 100%;
		height: 300px;
		background-color: rgba(0,0,0,0.2);
		background-image: url(../img/fondo1.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter:brightness(0.5);
		position: relative;
		top: 60px;
		z-index: -1;
	}

/****
	menu
		****/

	.cont-menu{
		width: 100px;
		height:100vh;
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		margin-top: 60px;
		background-color: #EBEBEB;
		transition: all 400ms;
	}

	.cont-menu2{
		transform: translateX(-100px);
	}

	.cont-menu li{
		width: 100%;
		height: 100px;
		padding: 10px 0px; 
		list-style: none;
		text-align: center;
		transition: all 400ms;
		background-color: #EBEBEB;
	}

	.cont-menu li:not(#profile){
		margin-top: -50px;
	}

	.cont-menu li:hover:not(#profile){
		color: white;
		background-color: #00A1BC;
		transform: translateY(10px);
	}

	.cont-menu img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}

	.cont-menu li span{
		color: #3E3E3E;
		font-size: 50px;
	}

	.cont-menu li h4{
		color: #3E3E3E;
		font-size: 13px;
		margin-top: 5px;
	}

	/****
	    contenedor general de las secciones
			   ****/	
	.cont-general{
		width: 100%;
		line-height: 27px;
		padding: 20px 22px;
		text-align: justify;
		font-size: 22px;
	}

	.cont-general h1{
		font-size: 30px;
		color: #3A3A3A;
	}

	.cont-general hr{
		width: 100%;
		height: 4px;
		margin: 8px auto;
		border: none;
		background-color: #00A1BC;
	}

	.cont-general p{
		margin-top: 20px;
		color: #626262;
	}

	/****
    	sobremi
		      ****/
	.cont-general .sobremi{
		width: 100%;
	}

	/****
    	educacion
		        ****/
	.cont-general .educacion{
		width: 100%;
	}
	
	.cont-general .educacion .logos-u{
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
	}

	.cont-general .educacion .logos-u img{
		width: 240px;
		height: 260px;
	}

	.cont-general .educacion .logos-u figcaption{
		width: 230px;
		color: #3A3A3A;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		font-weight: 600;
	}

	/****
    	Habilidades
		         ****/
	.cont-general .habilidades{
		width: 100%;
	}

	.cont-general .habilidades .cont-barras{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;			
	}

	.cont-general .habilidades .cont-barras h2{
		color: #3A3A3A;
		font-size: 23px;
		text-align: center;
	}
	.cont-general .habilidades .cont-barras h3{
		color: #3A3A3A;
		text-align: center;
		padding: 10px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales{
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales progress{
		display: block;
		margin: auto;
	}

	.cont-general .habilidades .cont-barras .tecnicas{
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras progress{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: red;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-bar{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: gray;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-value{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: #00A1BC;
	}

	/****
    	Portafolio
		         ****/
    .cont-general .portafolio{
    	text-align: center;
    	background-color: gray;
    	border-radius: 20px;
    }

    .cont-general .portafolio h2{
    	color: #3A3A3A;
    	background-color: #FFC300;
    	border-radius: 5px;
    	font-size: 18px;
    	margin: 10px auto;
    }

    .cont-general .portafolio h1{
    	color: white;
    	font-size: 20px;
    }

	/****
		Footer
		    ****/
	.footer{
		width: 100%;
		height: 120px;
		display: flex;
		align-items: center;
		background-color: #EBEBEB;
	}

	.footer footer{
		width: 100%;
		height: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}


	.footer footer .fab{
		color: #3E3E3E;
		font-size: 30px;
		padding: 10px 5px 0px;
	}

	.footer footer a{
		color: #3E3E3E;
		text-decoration: none;
	}

	.footer footer a:link{
		color: #3E3E3E;
	}

	.footer footer a:visited{
		color: #3E3E3E;
	}

	.footer footer a:hover{
		color: #3E3E3E;
		font-size: 40px;
	}

	.footer footer p{
		width: 100%;
		color: #3E3E3E;
		text-align: center;
		font-weight: 700;
	}

	.footer footer p a{
		color: #3E3E3E;
	}	

	.footer footer p a:link{
		color: #3E3E3E;
		text-decoration: none;
	}

	.footer footer p a:visited{
		color: #3E3E3E;
	}

	.footer footer a .fa-twitter:hover{
		color: #00ACEE;
	}

	.footer footer a .fa-linkedin:hover{
		color: #0E76A8;
	}

	.footer footer a .fa-github:hover{
		color: black;
	}

}

/********************************************/
/***************** SALTO 3 ******************/
/********************************************/
/********* screen min 1024 **********/
/********************************************/

@media screen and (min-width: 1024px){

/****
	cabecera
			****/	
	.cabecera{
		display: none;
		visibility: hidden;
	}

	.cabecera header{
		display: none;
		visibility: hidden;
	}

	.cabecera header li{
		list-style: none;
		visibility: hidden;
	}

	.cabecera header img{
		display: none;
		visibility: hidden;
	}

	.cabecera header span{
		display: none;
	}

/****
	portada
		 ****/

	.cont-portada {
		width: 100%;
		height: 100%;
		margin-bottom: 100px;
		position: relative;
		top: 40px;
		z-index: -1;
	}

	.cont-portada .descripcion{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100px;
		margin-top: -500px;
	}
	
	.cont-portada .descripcion h1{
		padding: 12px 0px 0px 0px;
		width: 100%;
		font-size: 60px;
		color: white;
		text-align: center;
	}

	.cont-portada .descripcion h3{
		width: 100%;
		color: white;
		padding-top: 5px; 
		font-size: 35px;
		text-align: center;
	}

	.cont-portada .descripcion .fab{
		font-size: 50px;
		color: white;
		padding: 10px 5px 0px;
	}

	.cont-portada .descripcion .fab:link{
		color: white;
	}

	.cont-portada .descripcion .fab:visited{
		color: white;
	}

	.cont-portada .descripcion .fa-twitter:hover{
		color: #00ACEE;
	}

	.cont-portada .descripcion .fa-linkedin:hover{
		color: #0E76A8;
	}

	.cont-portada .descripcion .fa-github:hover{
		color: black;
	}

	.cont-portada .descripcion img{
		width: 200px;
		height: 200px;
		border-radius: 100%;
	}

	.cont-portada .img-portada{
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,0.2);
		background-image: url(../img/fondo1.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter:brightness(0.2);
		position: relative;
		z-index: -1;
	}

/****
	menu
		****/

	.cont-menu{
		width: 100%;
		height:100px;
		display: flex;
		position: fixed;
		margin-top: 0px;
		background-color: #EBEBEB;
		transition: all 400ms;
	}

	.cont-menu2{
		transform: translateX(-100px);
	}

	.cont-menu li{
		width: 100%;
		height: 100px;
		padding: 10px 0px; 
		list-style: none;
		text-align: center;
		transition: all 400ms;
		background-color: #EBEBEB;
	}

	.cont-menu li:hover:not(#profile){
		color: white;
		background-color: #00A1BC;
		cursor: pointer;
		transform: translateY(10px);
	}

	.cont-menu img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}

	.cont-menu #profile{
		visibility: hidden;
		display: none;
	}

	.cont-menu li span{
		color: #3E3E3E;
		font-size: 50px;
	}

	.cont-menu li h4{
		color: #3E3E3E;
		font-size: 13px;
		margin-top: 5px;
	}

	/****
	    contenedor general de las secciones
			   ****/	
	.cont-general{
		width: 100%;
		line-height: 27px;
		padding: 50px 100px;
		text-align: justify;
		font-size: 22px;
	}

	.cont-general h1{
		font-size: 30px;
		color: #3A3A3A;
	}

	.cont-general hr{
		width: 100%;
		height: 4px;
		margin: 8px auto;
		border: none;
		background-color: #00A1BC;
	}

	.cont-general p{
		margin-top: 20px;
		color: #626262;
	}

	/****
    	sobremi
		      ****/
	.cont-general .sobremi{
		width: 100%;
	}

	/****
    	educacion
		        ****/
	.cont-general .educacion{
		width: 100%;
	}
	
	.cont-general .educacion .logos-u{
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
	}

	.cont-general .educacion .logos-u img{
		width: 240px;
		height: 260px;
	}

	.cont-general .educacion .logos-u figcaption{
		width: 230px;
		color: #3A3A3A;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		font-weight: 600;
	}

	/****
    	Habilidades
		         ****/
	.cont-general .habilidades{
		width: 100%;
	}

	.cont-general .habilidades .cont-barras{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;			
	}

	.cont-general .habilidades .cont-barras h2{
		color: #3A3A3A;
		font-size: 23px;
		text-align: center;
	}
	.cont-general .habilidades .cont-barras h3{
		color: #3A3A3A;
		text-align: center;
		padding: 10px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales{
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales progress{
		display: block;
		margin: auto;
	}

	.cont-general .habilidades .cont-barras .tecnicas{
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras progress{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: red;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-bar{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: gray;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-value{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: #00A1BC;
	}

	/****
    	Portafolio
		         ****/
    .cont-general .portafolio{
    	text-align: center;
    	background-color: gray;
    	border-radius: 20px;
    }

    .cont-general .portafolio h2{
    	color: #3A3A3A;
    	background-color: #FFC300;
    	border-radius: 5px;
    	font-size: 18px;
    	margin: 10px auto;
    }

    .cont-general .portafolio h1{
    	color: white;
    	font-size: 20px;
    }

	/****
		Footer
		    ****/
	.footer{
		width: 100%;
		height: 120px;
		display: flex;
		align-items: center;
		background-color: #EBEBEB;
	}

	.footer footer{
		width: 100%;
		height: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}


	.footer footer .fab{
		color: #3E3E3E;
		font-size: 30px;
		padding: 10px 5px 0px;
	}

	.footer footer a{
		color: #3E3E3E;
		text-decoration: none;
	}

	.footer footer a:link{
		color: #3E3E3E;
	}

	.footer footer a:visited{
		color: #3E3E3E;
	}

	.footer footer a:hover{
		color: #3E3E3E;
		font-size: 40px;
	}

	.footer footer p{
		width: 100%;
		color: #3E3E3E;
		text-align: center;
		font-weight: 700;
	}

	.footer footer p a{
		color: #3E3E3E;
	}	

	.footer footer p a:link{
		color: #3E3E3E;
		text-decoration: none;
	}

	.footer footer p a:visited{
		color: #3E3E3E;
	}

	.footer footer a .fa-twitter:hover{
		color: #00ACEE;
	}

	.footer footer a .fa-linkedin:hover{
		color: #0E76A8;
	}

	.footer footer a .fa-github:hover{
		color: black;
	}

}