/****
	formateo
			****/	
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
}



/***********************************/
/********* screen max 600 **********/
/***********************************/

@media (max-width: 600px) {

	body{
			/*background-color: purple;*/
		}

/****
	cabecera
			****/	
	.cabecera{
		width: 100%;
		height: 60px;
		position: fixed;
		background-color: green;
		box-shadow: 4px 3px 30px 2px #0B3B0B;
		-webkit-box-shadow: 4px 3px 30px 2px #0B3B0B;
		-moz-box-shadow: 4px 3px 30px 2px #0B3B0B;
	}

	.cabecera header{
		display: flex;
		justify-content: space-between;
	}

	.cabecera header li{
		list-style: none;
	}

	.cabecera header img{
		width: 50px;
		height: 50px;
		border-radius: 100%;
		margin: 5px 10px; 
	}

	.cabecera header span{
		font-size: 35px;
		margin-top: 3px;
		padding: 10px ;
		color: white;
	}

	.cabecera header span:hover{
		background: rgba(0,0,0,0.4); 
		border-radius: 100px;
		height: 100%;
		margin-top: 3px;
	}

/****
	portada
		 ****/

	.cont-portada {
		width: 100%;
		height: 100%;
		margin-bottom: 60px;
	}

	.cont-portada .descripcion{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: -35px;
		margin-top: -140px;
	}
	
	.cont-portada .descripcion h1{
		padding: 12px 0px 0px 0px;
		width: 100%;
		font-size: 30px;
		color: white;
		text-align: center;
	}

	.cont-portada .descripcion h3{
		width: 100%;
		font-size: 20px;
		color: white;
		text-align: center;
	}

	.cont-portada .descripcion img{
		width: 100px;
		height: 100px;
		border-radius: 100%;
	}

	.cont-portada .img-portada{
		width: 100%;
		height: 240px;
		background-color: rgba(0,0,0,0.8);
		background-image: url(../img/portada.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter:brightness(0.5);
		position: relative;
		top: 60px;
		z-index: -1;
	}

/****
	menu
		****/

	.cont-menu{
		width: 100px;
		height:90vh;
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		margin-top: 60px;
		background-color: green;
		transition: all 400ms;
	}

	.cont-menu2{
		transform: translateX(-100px);
	}

	.cont-menu li{
		width: 100%;
		height: 80px;
		list-style: none;
		padding: 10px 0px; 
		text-align: center;
		background-color: green;
		transition: all 400ms;
	}

	.cont-menu li:hover:not(#profile){
		background-color: yellow;
		transform: translateY(10px);
	}

	.cont-menu img{
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}

	.cont-menu span{
		font-size: 35px;
	}

	.cont-menu h4{
		font-size: 16px;
		margin-top: 5px;
	}

	/****
	    contenedor general de las secciones
			   ****/	
	.cont-general{
		width: 100%;
		line-height: 27px;
		padding: 20px 22px;
		text-align: justify;
		font-size: 18px;
		background-color: white;
	}

	.cont-general h1{
		font-size: 30px;
	}

	.cont-general hr{
		width: 100%;
		height: 4px;
		margin: 8px auto;
		background-color: gray;
	}

	.cont-general p{
		margin-top: 20px;
	}

	/****
    	sobremi
		      ****/
	.cont-general .sobremi{
		width: 100%;
	}

	/****
    	educacion
		        ****/
	.cont-general .educacion{
		width: 100%;
	}
	
	.cont-general .educacion .logos-u{
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
	}

	.cont-general .educacion .logos-u img{
		width: 140px;
		height: 160px;
	}

	.cont-general .educacion .logos-u figcaption{
		width: 130px;
		font-size: 17px;
		line-height: 18px;
		text-align: center;
		font-weight: 600;
	}

	/****
    	Habilidades
		         ****/
	.cont-general .habilidades{
		width: 100%;
	}

	.cont-general .habilidades .cont-barras{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
			
	}

	.cont-general .habilidades .cont-barras h2{
		font-size: 23px;
		text-align: center;
	}
	.cont-general .habilidades .cont-barras h3{
		text-align: center;
		padding: 10px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales{
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras .interpersonales progress{
		display: block;
		margin: auto;
	}

	.cont-general .habilidades .cont-barras .tecnicas{
		padding: 20px 0px;
	}

	.cont-general .habilidades .cont-barras progress{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: red;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-bar{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: gray;
	}

	.cont-general .habilidades .cont-barras progress::-webkit-progress-value{
		width: 270px;
		height: 25px;
		border-radius: 10px;
		background-color: green;
	}

	/****
    	Portafolio
		         ****/
    .cont-general .portafolio{
    	text-align: center;
    	background-color: gray;
    	border-radius: 20px;
    }

    .cont-general .portafolio h2{
    	margin: 10px auto;
    	font-size: 18px;
    }

	/****
		Footer
		    ****/
	.footer{
		width: 100%;
		height: 120px;
		display: flex;
		align-items: center;
		background-color: green;
	}

	.footer footer{
		width: 100%;
		height: 60px;
		padding: 20px;
	}

	.footer footer span{
		background-color: yellow;
		width: 10px;
		height: 10px;
	}

	.footer footer .icon-twitter{
		background-color: yellow;
		width: 20px;
		height: 20px;
	}

	.footer footer p{
		text-align: center;
		font-weight: 700;
	}

	.footer footer p a:link{
		text-decoration: none;
	}

	.footer footer p a:visited{
		color: black;	
	}

	.footer footer p a:link{
		color: black;	
	}

}